@media screen and (max-width: 1024px) {
    
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        grid-template-columns: 1fr 4fr;
    }
    
    h1 {
        font-size: 40px;
    }
    
    /* ------------------------------------------turning-off */
    .content-charts, .top-bar-renew, .kpi-item-impressions, .content-data-hero-desktop {
        display: none;
    }

    /* ------------------------------------------turning-on */

    nav {
        grid-template-rows: 1fr 4fr 4fr;
    }
    
    .nav-top p {
        display: inline;
        padding-right: 1vw;
    }

    .nav-middle div {
        margin: 0.4vh 0;
    }
    
    .nav-middle p {
        display: inline-block;
        font-size: 0.8rem;
    }

    .nav-bottom {
        flex-direction: column;
        align-items: center;
        padding: 3vh 1vw;
    }

    .nav-bottom .new-item {
        background-color: #fbd46d;
        border-radius: 8px;
    }

    .new-item {
        display: flex;
        padding: 0.5vh 4vw 0.5vh 0.5vw;
    }

    .new-item i {
        border-radius: 10px;
    }

    .nav-bottom p {
        display: inline;
        font-size: 1rem;
        color: gray;
        text-align: center;
    }

    .new-item-button-text {
        padding-left: 1vw;
    }

    

    
}