body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 20fr;
    height: 100vh;
}

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    color: gray;
    font-weight: lighter;
    margin: 0;
}

figure {
    margin: 0;
}

/* ...................................................nav */
nav {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    font-size: 1.5rem;
}

nav i:hover {
    cursor: pointer;
}

.nav-top, .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.nav-top i {
    padding: 1.5vh;
    border: 1px solid #726a95;
    border-radius: 50%;
    background: #726a95;
    color: white;
    font-size: 1rem;
}

.nav-middle i {
    margin: 2vh 2vh;
}

.nav-middle .icon-square {
    font-size: 2rem;
    border: 3px solid #e79cc2;
    margin: 1vh 1vh;
    padding: 1vh 1vh;
    background: #f6e6e6;
    border-radius: 10px;
}

.nav-bottom i {
    padding: 1.5vh;
    border: 3px solid #fbd46d;
    border-radius: 50%;
    background: #f4ebc1;
    color: #726a95;
    font-size: 1rem;
}


/* ...................................................display */
.display-container {
    background-color: #f7f7ee;
    border-bottom-left-radius: 3vh;
    border-top-left-radius: 3vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.display-top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2vw;
    color: #726a95;
}

.display-top-bar div, .display-top-bar i {
    margin: 0 3vw;
}

.display-top-bar i {
    font-size: 1.3rem;
}

.top-bar-search {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0 1vh 0.5vw;
    border-radius: 15px;
}

.top-bar-search input {
    border: none;
}

.top-bar-search input:focus {
    outline: none;
}

.top-bar-search i {
    margin: 0 0.5vw;
}

.top-bar-renew {
    background-color:#f6e6e6;
    padding: 0 1vw;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 15px;
}

.icon-shield {
    background-color: #371bb3cc;
    color: whitesmoke;
    padding: 1vh;
    border-radius: 100%;
}

.top-bar-renew:hover, .icon-envelop:hover, .icon-shield:hover {
    cursor: pointer;
}


/* ...................................................display-content */
.display-content {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

/* ...................................................content-data */
.content-data {
    display: grid;
    grid-template-rows: 2fr 5fr 4fr;
    padding: 0 3.5vw;
}

/* ......................................................................content-data-hero */
.data-hero-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    min-height: 80%;
    border-radius: 20px;
    margin-top: 1.5vh;
}

.hero-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-main-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-container-num {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-main-container-num h4 {
    font-size: bold;
}

.hero-main-indicator {
    margin: 0.5vh 0.5vw;
    background-color: #f8f1f1;
    border-radius: 21px;
    box-shadow: 0px 10px 11px 0px #afafafc4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.hero-main-indicator-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-main-indicator-num span, .hero-main-container-num span {
    font-size: 2.5rem;
}

.hero-main-indicator-num i,  .hero-main-container-num i {
    color: #726a95;
    font-weight: 900;
}

.hero-main-indicator-num h4 {
    color: black;
    font-weight: bold;
}



/* ...........................................................................content-data-kpis */
.content-data-kpis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.earnings-per-product {
    display: grid;
    grid-template-rows: 4fr 5fr 5fr;
    min-height: 80%;
    margin-top: 1.5vh;
    background-color: white;
    border-radius: 20px;
}

.earnings-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f1f1;
    margin: 1vh 1vw;
    padding: 0 1vw;
    border-radius: 15px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 1vh 1vw;
}

.product-logo {
    display: flex;
    place-self: center;
    font-size: 2rem;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.product-description p {
    margin: 0;
}

.product-name {
    font-weight: bold;
}

.client-name {
    font-size: 0.8rem;
    color: #726a95;
}

.product-earning {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.item-impressions-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 80%;
    margin-top: 1.5vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 11px 0px #afafafc4;
}

.item-impressions-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-impressions-img figure {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-impressions-img img {
    width: 40%;
}

.item-logo {
    display: flex;
    justify-content: center;
}

.item-logo img{
    width: 60%;
}

.item-data {
    margin: 0;
    font-size: 1.8rem;
}

.new-users {
    margin: 0;
    color: #726a95;
}

/* .............................................................content-charts */

.content-charts {
    margin: 0 3.5vw 2.5vh 0;
    background-color: #dad6ee;
    border-radius: 25px;
    position: relative;
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.content-charts i {
    position: absolute;
    padding: 1.7vh;
    background-color: white;
    font-size: 0.8rem;
    border-radius: 100%;
    box-shadow: 0px 10px 11px 0px #afafafc4;
    top: 1vh;
    right: 1vh;
}

.content-charts figure {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.content-charts-chart img{
    width: 95%;
    border-radius: 20px;
}